body {
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 100%;
    color: #666;
    background-color: #f2f2f2;
    background-image: url('../img/body-bg.png');
    vertical-align: baseline;
    line-height: 1.2;
}
