body {
    font-family: "Times New Roman", Georgia, Serif;
    /*font-family: Consolas, "Lucida Console", Monospace;*/ 
    /*font-family: Calibri, Arial, Sans-Serif;*/
    font-size: 100%;
    color: #666;
    background-color: #f2f2f2;
    background-image: url('../img/body-bg.png');
    vertical-align: baseline;
    line-height: 1.2;
}
a, a:visited {
    text-decoration: none;
    color: #4D90FE;
    outline: none;
}
a:hover {
    text-decoration: underline;
}
.content a, .content a:visited {
    text-decoration: underline;
    color: #888;
}
.content a:hover {
    color: #222;
}
a.tag-link, a.tag-link:visited {
    text-decoration: none;
    color: #999;
}
a.tag-link:hover {
    text-decoration: underline;
    color: #333;
}
::-webkit-scrollbar {
    width: 12px;
    background: #f0f0f0;
}
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    box-shadow: inset 2px 2px 4px #cccccc;
}
::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border: solid 1px #c0c0c0;
    box-shadow: 2px 2px 4px #cccccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    border: solid 1px #aaaaaa;
}
#main-menu {
    position: fixed;
    width: 100%;
    height: 32px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 10px 1px #aaa;
    background-color: #ddd;
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 110;
}
#main-menu span.title {
    color: rgba(220,220,220,0.1);
    text-shadow: 3px 3px 1px rgba(220,220,220,0.6), 2px 2px 0px rgba(100,100,100,0.9);
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 2px 8px;
    margin-left: 4px;
    cursor: default;
}
#user_info {
    font-size: .75em;
    font-weight: bold;
    padding: 0 10px 0 16px;
}
#main-menu a.button, #main-menu a.button:visited {
    font-size: 75%;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    background: #eee;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    border: solid 1px #bbb;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #ccc;
    padding: 2px 16px;
    margin-left: 6px;
    line-height: 30px;
    outline: none;
}
#main-menu a.button:hover {
    border-color: #999;
    color: #222;
    box-shadow: 0px 0px 3px 1px #bbb;
}
#main-menu a.button:active {
    color: #444;
    box-shadow: inset 1px 1px 3px 1px #bbb;
}
#main-menu a.button.disabled {
    border-color: #bbb;
    color: rgba(120,120,120,0.5);
    text-shadow: 1px 1px 1px rgba(250,250,250,0.8);
    cursor: default;
    box-shadow: none;
}
#root {
    position: fixed;
    width: 800px;
    top: 82px;
    bottom: 40px;
    left: 50%;
    margin-left: -400px;
    text-align: left;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px #ccc;
    background-color: #fff;
    padding: 10px 20px;
    overflow: auto;
    z-index: 100;
}
#root h2 {
    font-family: Times, serif;
    font-weight: normal;
    font-size: 1.5em;
    margin: 4px 0px 16px 0px;
    padding-left: 10px;
    color: #222;
}
#footer {
    position: fixed;
    width: 800px;
    bottom: 12px;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    overflow: hidden;
    z-index: 100;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 10px;
    letter-spacing: -1px;
    line-height: 16px;
    color: #999;
    background: transparent;
    padding: 2px 20px;
}
.note {
    /*font-size: 20px;*/
    margin: 0 0 3px 0;
    padding: 0 0 1px 46px;
    position: relative;
    vertical-align: baseline;
}
.sub-notes {
}
.editor {
    margin: 3px 0;
}
.content {
    position: relative;
    min-height: 1em;
}
textarea.content {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font: inherit;
    line-height: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 100;
}
.closed > .note, .closed > .sub-notes {
    display: none !important;
}
#breadcrumbs {
    position: fixed;
    width: 800px;
    top: 42px;
    left: 50%;
    margin-left: -400px;
    text-align: left;
    padding: 10px 20px;
    overflow: auto;
    z-index: 100;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px #ccc;
    background-color: #fff;
}
#breadcrumbs a, #breadcrumbs div {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 13px;
    float: left;
}
#breadcrumbs div {
    color: #222;
}
#breadcrumbs .nav {
    padding-left: 20px;
    background: url('../img/arrow-right.png') left no-repeat transparent;
}
a.open-link {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #fff;
    color: #777;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 102;
}
a.zoom-in-link {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #eee;
    color: #888;
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: 101;
}
a.zoom-in-link.new {
    background-color: #dfd;
}
a.zoom-in-link.changed {
    background-color: #fdd;
}
a.open-link:hover {
    text-decoration: none;
    color: #4D90FE;
    background-color: #fff;
}
a.zoom-in-link:hover {
    text-decoration: none;
    color: #4D90FE;
    background-color: #ddd;
}
.drag-handler {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    cursor: url('/res/img/drag-handler-cursor.png'), move;
    opacity: .6;
    z-index: 102;
}
.ui-draggable-dragging {
    background-color: #fff;
}
.editor:hover .drag-handler {
    background: url('/res/img/drag-handler.png') repeat;
}
.drop-target {
    position: absolute;
    left: 40px;
    height: 3px;
    width: 94%;
    z-index: 100;
    margin: 0;
}
.drop-target.above {
    top: 0px;
}
.drop-target.below {
    bottom: 0px;
}
.droppable {
    background-color: #999;
}
.droppable.above {
    border-top: solid 1px #222;
}
.droppable.below {
    border-bottom: solid 1px #222;
}
.ui-effects-transfer {
    border: dotted 2px #777;
    border-radius: 3px;
    z-index: 200;
}
::-webkit-input-placeholder {
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
}
:-moz-placeholder {
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
}
:-ms-input-placeholder {
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
}
#add-note, #add-note:visited {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.5em;
    color: #bbb;
    text-decoration: none;
}
#add-note:hover {
    color: #222;
}
/*
 * Load mask.
 */
.loadmask {
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #aaa;
    border-radius: 3px;
    background: #fbfbfb;
    padding: 4px;
    box-shadow: 2px 2px 4px #aaa;
}
.loadmask-msg div {
    padding:5px 10px 5px 25px;
    background: #fbfbfb url('/res/img/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
    border-radius: 3px;
    color:#222;
    font:normal 11px verdana, tahoma, arial, helvetica, sans-serif;
    letter-spacing: -1px;
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}
/**/

/*
 * Common dialog
 */
.common-dialog {
    box-shadow: 6px 6px 10px 4px #ccc;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: .75em;
    line-height: 1.4em;
}
.common-dialog .ui-tabs {
    border: none;
    padding: 0;
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 1.2em;
    line-height: 1.4em;
}
.common-dialog .ui-tabs-nav {
    border-width: 0 0 1px 0;
    border-radius: 0;
    background: transparent;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: .75em;
}
.common-dialog .ui-tabs-nav li {
    font-weight: bold;
    outline: none;
}
.common-dialog a, .common-dialog a:visited {
    text-decoration: underline;
    color: #4D90FE;
}
.common-dialog .ui-dialog-titlebar {
    border: none;
    background: transparent;
    font-size: 1.1em;
    font-variant: small-caps;
}
.common-dialog .ui-dialog-buttonpane {
    border: none;
    padding: 0 10px 10px 0;
}
.common-dialog .ui-button {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border-color: #ccc;
    outline: none;
}
.common-dialog .ui-button.ui-state-hover {
    border-color: #999;
    color: #222;
    box-shadow: 0px 0px 3px 1px #bbb;
}
.common-dialog .ui-button.ui-state-active {
    color: #444;
    box-shadow: inset 1px 1px 3px 1px #bbb;
}
.common-dialog .dialog-group {
    margin: 10px 2px;
}
.common-dialog .dialog-label {
    font-weight: bold;
    padding: 2px 4px;
    min-width: 85px;
    display: inline-block;
}
/**/
/*
 * Help dialogue classes
 */
.keyboard-key {
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 0 .5em;
    height: 1.4em;
    float:left;
    line-height: 1.6em;
    text-align: center;
    font-weight: bold;
    font-family: Calibri, Verdana, Tahoma, sans-serif;
    font-size: .9em;
    box-shadow: 2px 2px 3px #ccc;
    color: #444;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
#help-thanks {
    text-align: center;
    font-weight: bold;
}
#help-thanks a, #help-thanks a:visited {
    opacity: .6;
    margin: 0 10px;
}
#help-thanks a:hover {
    opacity: 1;
}
/**/
/*
 * Export dialogue
 */
#export-content {
    font-family: Consolas, "Lucida Console", Monospace;
    border: solid 1px #ccc;
    outline: none;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    -webkit-tab-size: 2;
    tab-size: 2;
}
/*
 * 
 */
.ui-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    margin: 0 0 0.3em 0;
    min-width: 85px;
    background: #eee;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    border: solid 1px #bbb;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.ui-button.ui-state-hover {
    border-color: #999;
    color: #222;
    box-shadow: 0px 0px 3px 1px #bbb;
}
.ui-button.ui-state-active {
    color: #444;
    box-shadow: inset 1px 1px 3px 1px #bbb;
}
.ui-button .ui-button-text {
    line-height: 1em;
    font-weight: bold;
}
.ui-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    position: absolute;
    box-shadow: 0px 0px 3px 1px #bbb;
}
.ui-menu .ui-menu-item a {
    color: #333;
}
/**/