body {
    font-family: Georgia, "Times New Roman", Serif;
    font-size: 100%;
    color: black;
    background-color: white;
    vertical-align: baseline;
    line-height: 1.2;
}
a.tag-link, a.tag-link:visited {
    text-decoration: none;
}
#main-menu, #breadcrumbs, a.open-link, a.zoom-in-link, #add-note, #footer {
    display: none;
    visibility: hidden;
}
#root {
    width: 100%;
    position: static;
}
.note {
    padding: 0 0 0 16px;
    line-height: 1em;
}
.content:before {
    content: " \2022\ ";
    font-size: 1.4em;
}
.content {
    line-height: 1.4em;
}
